@{
    ViewData["Title"] = "Payment Cancelled";
}

<h2>Payment Cancelled</h2>
<p>Your payment was cancelled. If you would like to try again, please click the button below.</p>
<a href="@Url.Action("Water", "Reg")">Go Back to Your Water Bill</a>
